.left {
    left: 0;
    background-color: #F38523;
  }

  button.mat-raised-button:hover {
    background-color: 'green';    
}

.test {
  background-color: red;
}

.test1 {
  background-color: green;
}

.test2 {
  background-color: green;
}
.test3 {
  background-color: green;
}
.test4 {
  background-color: green;
}
.test5 {
  background-color: green;
}
.test6 {
  background-color: green;
}
.test7 {
  background-color: green;
}
.test8 {
  background-color: green;
}
.test9 {
  background-color: green;
}
.test10 {
  background-color: green;
}

.test11 {
  background-color: green;
}

.test12 {
  background-color: green;
}
.test13 {
  background-color: green;
}
.test14 {
  background-color: green;
}
.test15 {
  background-color: green;
}
.test16 {
  background-color: green;
}
.test17 {
  background-color: green;
}
.test18 {
  background-color: green;
}
.test19 {
  background-color: green;
}
.test20 {
  background-color: green;
}

.test21 {
  background-color: green;
}
.test22 {
  background-color: green;
}
.test23 {
  background-color: green;
}
.test24 {
  background-color: green;
}
.test25 {
  background-color: green;
}
